<div class="profile--info--wrapper">
    <div class="profile--info--main-container">
        <!-- PHOTO -->
        <div class="profile--info--photo-wrapper">
            <div class="profile--info--photo-container">
                <img 
                    src="{{ profile_details.src}}" 
                    alt="profile user photo "
                >
            </div>
        </div>

        <!-- BIO -->
        <div class="profile--info--bio-wrapper">
            <!-- Artist name -->
            <div class="profile--info--bio-name"> 
                {% if profile_details.monikor %}{{ profile_details.monikor}}{% else %}Anonymous{% endif %}
            </div>
            <!-- Address Button -->
            <button type="button" class="profile--info--bio-address-button">
                {{ profile_details.artist_address | profile_name_truncated }}
            </button>
            <div class="profile--info--bio-description">
                {{ profile_details.user_bio }}  
            </div>
            <!-- Artist connections  -->
            <div class="profile--info--bio-connections">
                <ul class="nav">
                    <li>Items <strong>{{ profile_details.created_items }}</strong></li>
                    <li >Followers <strong>{{ profile_details.followers }}</strong></li>
                    <li >Following <strong>{{ profile_details.following }}</strong></li>
                </ul>
            </div>
        </div>

        <!-- INTERACTIONS -->
        <div class="profile--info--interactions-wrapper">
            <!-- Follow button -->
            <div class="profile--info--follow-container">
                <button type="button" class="follow-button-lg">
                    Followed
                </button>
            </div>
            <!-- Sharing buttons -->
            {% include 'sharing.html'%}
        </div>
    </div>
</div>


