<header class="news-bar--container">
    <div class="news-bar--text">
        <span>Discover & collect extraordinary digital art and rare nft's &#127919; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>Discover & collect extraordinary digital art and rare nft's &#127919; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>Discover & collect extraordinary digital art and rare</span>
    </div>
</header>