<header class="news-bar--container">
    <div class="news-bar--text">
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
        <span>trending nft's &#128293; &#128293; &#128293;</span>
        <img 
            class="news-feed--star" 
            src="{{ url_for('static', filename='/svg/news_feed_star.svg') }}" 
            alt="news feed star emoji"
        >
    </div>
</header>