<div class="details--comment-item--wrapper">
    <div class="details--comment-item--photo-container">
        <img 
            src="{{ url_for('static', filename='/png/empty_user.png') }}"
            alt="interactions follow button"
        >
    </div>
    <div class="details--comment-item--text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem architecto aut sint quaerat obcaecati in ratione ducimus cum ipsum sequi, officiis aliquam quia non. Earum cupiditate ducimus quo quas non facilis accusamus soluta aspernatur porro expedita aliquid cum, atque sapiente, numquam impedit laudantium dignissimos nesciunt vel, molestiae veniam corrupti iure!</p>
    </div>
</div>