<div class="details--content--wrapper">
    <!-- Photo -->
    <div class="details--content--photo-details-wrapper">
        <div class="details--content--photo-container">
            <img 
                src="{% if nft_details.thumbnail_src %}{{nft_details.thumbnail_src}}{% else %}{{nft_details.src}}{% endif %}" 
                alt="main nft photo "
            >
        </div>
        <div class="details--content--caption-container">
            <p>Currently Owned By: </p>
            {% include 'details/owner-bar.html' %}
        </div>
    </div>

    <!-- Bio -->
    <div class="details--content--nft-details-wrapper">
        <div class="details--content--nft-details-wrapper">
            <!-- TITLE (+interactions)  -->
            <div class="details--content--title-container">
                <p>{{nft_details.title}}</p>
                <div class="details--content--interactions-container">
                    <!-- Viewed  -->
                    <div class="details--content--interactions-item">
                        <img 
                            src="{{ url_for('static', filename='/png/interactions__viewed.png') }}"
                            alt="interaction viewed"
                        >
                        <span>{{nft_details.view_count}}</span>
                    </div>
                    <!-- Liked -->
                    <div class="details--content--interactions-item">
                        <img 
                            class="heart-inactive"
                            src="{{ url_for('static', filename='/png/interactions__heart.png') }}"
                            alt="interaction heart"
                        >
                        <span>{{nft_details.like_count}}</span>
                    </div>
                    <!-- Bookmarked -->
                    <div class="details--content--interactions-item">
                        <img 
                            class="bookmark-inactive"
                            src="{{ url_for('static', filename='/png/interactions__bookmark.png') }}"
                            alt="interaction bookmark"
                        >  
                        <span>{{nft_details.save_count}}</span>
                    </div>
                </div>
            </div>

            <!-- TAGS -->
            <div class="details--content--tags-container">
                <!-- DEFAULT TAG -->
                <div class="details--content--tags-item">
                    #NFT-Space
                </div>
                <!-- DYNAMIC TAG -->
                {% for tag in nft_details.tags%}
                    <div class="details--content--tags-item">
                        {{tag}}
                    </div>
                {% endfor %}
            </div>

            <!-- FOLLOW BAR -->
            {% include 'details/follow-bar.html' %}

            <!-- DESCRIPTION -->
            <div class="details--content--description-container">
                <h1>Description </h1>
                <p>{% if nft_details.description %} {{nft_details.description}} {% else %} No description; this NFT speaks for itself! {% endif%}</p>
            </div>

            <!-- DETAILS -->
            <div class="details--content--details-container">
                <h1>Details </h1>
                <div class="details--content--details-item">
                    <p>Token ID</p> <h3>{{nft_details.id}}</h3>
                </div>
                <div class="details--content--details-item">
                    <p>Unit Name</p> <h3>{{nft_details.unitname}}</h3>
                </div>
                <div class="details--content--details-item">
                    <p>Token Standard</p> <h3>{{nft_details.standard}}</h3>
                </div>
                <div class="details--content--details-item">
                    <p>Blockchain</p> <h3>Algorand</h3>
                </div>
            </div>

            <!-- BUY CONTAINER -->
            {% if is_listed  %} 
            <div class="details--content--buy-container">
                <div class="details--content--buy-info-wrapper">
                    <img 
                        src="{{ url_for('static', filename='/png/rand_gallery_logo.png') }}" 
                        alt="rand gallery logo "
                    >
                    <p> 
                        {{is_listed[0].price}} 
                        <img 
                            src="{{ url_for('static', filename='/png/algorand_algo_logo.png') }}" 
                            alt="algorand algo picture "
                            height="15px" width="15px"
                        >
                    </p>
                </div>
                <button type="button" class="details--content--buy-button">
                    Buy
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>