<div class="follow-bar--body-wrapper">
    <div class="follow-bar--photo-container">
        <img 
            src="{{ artist_details.src }}" 
            alt="follow bar image for profile"
        >
    </div>
    <div class="follow-bar--details-container">
        <p>{% if artist_details.monikor %}{{ artist_details.monikor }}{% else %} Anonymous {% endif %}</p>
        <div class="address-container">
            {{ artist_details.artist_address | profile_name_truncated }}
        </div>
    </div>

    <button type="button" class="follow-button-md">
        Followed
    </button>
</div>