<div class="follow-bar--body-wrapper">
    <a href="/profile/{{ artist_details.artist_address }}">
        <div class="follow-bar--photo-container">
            <img 
                src="{{ artist_details.src }}" 
                alt="follow bar image for profile"
            >
        </div>
    </a>
    <a href="/profile/{{ artist_details.artist_address }}">
        <div class="follow-bar--details-container">
            <p>{% if artist_details.monikor %}{{ artist_details.monikor }}{% else %} Anonymous {% endif %}</p>
            <div class="address-container">
                {{ artist_details.artist_address | profile_name_truncated }}
            </div>
        </div>
    </a>

    <button type="button" class="follow-button-md">
        Followed
    </button>
</div>