<div class="details--owner-bar--container">
    <a href="/profile/{{ owner_details.artist_address }}">
        <div class="details--owner-bar--profile-photo-container">
            <img 
                src="{{ owner_details.src }}"
                alt="owner profile image "
            >
        </div>
    </a>
    <p> 
        <a href="/profile/{{ owner_details.artist_address }}">
            {% if owner_details.monikor %}{{ owner_details.monikor}}{% else %}Anonymous{% endif %}
        </a>
    </p>
    <a href="/profile/{{ owner_details.artist_address }}">
        <div class="address-container">
            {{owner_details.artist_address | profile_name_truncated }}
        </div>
    </a>
    <div class="details--owner-bar--follow-container">
        <img 
            src="{{ url_for('static', filename='/png/interactions__follow_button.png') }}"
            alt="interactions follow button"
        >
    </div>
</div>