<div class="details--owner-bar--container">
    <div class="details--owner-bar--profile-photo-container">
        <img 
            src="{{ url_for('static', filename='/png/empty_user.png') }}"
            alt="interactions follow button"
        >
    </div>
    <p>
        Test Name 
    </p>
    <div class="address-container">
        D5J7...DCA
    </div>
    <div class="details--owner-bar--follow-container">
        <img 
            src="{{ url_for('static', filename='/png/interactions__follow_button.png') }}"
            alt="interactions follow button"
        >
    </div>
</div>