<div class="details--owner-bar--container">
    <div class="details--owner-bar--profile-photo-container">
        <img 
            src="{{ owner_details.src }}"
            alt="owner profile image "
        >
    </div>
    <p> 
        {% if owner_details.monikor %}{{ owner_details.monikor}}{% else %}Anonymous{% endif %}
    </p>
    <div class="address-container">
        {{owner_details.artist_address | profile_name_truncated }}
    </div>
    <div class="details--owner-bar--follow-container">
        <img 
            src="{{ url_for('static', filename='/png/interactions__follow_button.png') }}"
            alt="interactions follow button"
        >
    </div>
</div>