.profile--header--photo-container{
    width: 100%;
    height: 391px;
    overflow: clip;
    background-image: url(../../png/discovery__header__background_image.png);
    background-size: cover;
}

.profile--header--photo-container> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

