<div class="cards--artist--main-container">
    <div class="cards--artist--header">
        <img 
            src="{{ url_for('static', filename='/png/card__artist__background.png') }}"
            alt="artist card background"
        >
        <div class="cards--artist--follow-container">
            <img 
                src="{{ url_for('static', filename='/png/interactions__follow_button.png') }}"
                alt="interactions follow button"
            >
        </div>     
    </div>
    <div class="cards--artist--photo-container">
        <img 
            src="{{ url_for('static', filename='/png/nft_example.png') }}"
            alt="astro nft"
        > 
    </div> 
    <div class="cards--artist--content-container">
        Artist name
    </div>
    
</div>