<div class="cards--collection--main-container">
    <img 
        class="cards--collection--main-photo"
        src="{{ url_for('static', filename='/png/nft_example4.png') }}"
        alt="nft"
    >
    <div class="cards--collection--profile-photo-container">
        <img 
            src="{{ url_for('static', filename='/png/nft_example3.png') }}"
            alt="nft"
        >
    </div>
    <div class="cards--collection--content-container">
        <div class="cards--collection--artist-name">
            Artist name
        </div>
        <div class="cards--collection--collection-name">
            Collection name
        </div>
    </div>
</div>