<div class="cards--collection--main-container">
    <img 
        class="cards--collection--main-photo"
        src="{{ collection.collection_cover_src }}"
        alt="collection cover image"
    >
    <div class="cards--collection--profile-photo-container">
        <img 
            src="{{ collection.artist_src }}"
            alt="collection artist profile photo"
        >
    </div>
    <div class="cards--collection--content-container">
        <div class="cards--collection--artist-name">
            {{collection.artist_name}}
        </div>
        <div class="cards--collection--collection-name">
            {{collection.collection_title}}
        </div>
    </div>
</div>