<div class="cards--nft--main-container">
    <img 
        class="cards--nft--main-photo"
        src="{{ url_for('static', filename='/png/nft_example.png') }}"
        alt="astro nft"
    >
    <div class="cards--nft--interaction-container">
        <img 
            class="heart-inactive"
            src="{{ url_for('static', filename='/png/interactions__heart.png') }}"
            alt="interaction heart"
        >
        <span>43k</span>
        <img 
            class="bookmark-inactive"
            src="{{ url_for('static', filename='/png/interactions__bookmark.png') }}"
            alt="interaction bookmark"
        >  
        <span>2k</span>
    </div>
    <div class="cards--nft--content-container">
        Artwork title
    </div>
</div>