.nav--header{
    height: 96px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav--logo-text{
    /* POSITION */
    width: 183px;
    height: 31px;
    /* FONT */
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    cursor: pointer;
}

.nav--search{
    /* POSITION */
    width: 541px;
    height: 48px;
    /* BORDER */
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 50px;
    /* FONT */
    color: rgba(133, 133, 133, 1);
    font-family: system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    padding: 1em 3em;
}

.nav--root-button{
    font-family: system-ui;
    font-size: 14px;
    line-height: 18px;
    padding: 1rem 3rem;
    border-radius: 50px;
}

.nav--explorer-button{
    position:relative;
    color: #FFFFFF;
    background: linear-gradient(45deg,#7A1A7B,#864CFD);
}

.nav--connect-button{
    position:relative;
    color: #000000;
    background: #FFFFFF;
}

.nav--root-button::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:50px; 
    padding:2px; 
    background:linear-gradient(45deg,#7A1A7B,#864CFD); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}


