<div class="gallery--wrapper">
    <div class="gallery--container">
        <span>Discover More  &#128075;</span>
        <div class="gallery--nft--main-container">
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
            {% include 'cards/nft.html' %}
        </div>
    </div>
</div>