<div class="gallery--wrapper">
    <div class="gallery--container">
        <span>Discover Collections &#127919;</span>
        <div class="gallery--collection--main-container">
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
            {% include 'cards/collection.html' %}
        </div>     
    </div>
</div>