<div class="index-sections--about--main-container">
    <div class="index-sections--about--content-container">
        <div class="index-sections--about--content-header">
            What is NFT Space? &#128525; &#128293;
        </div>
        <div class="index-sections--about--content-body">
            <div class="index-sections--about--content-body-title">
                NFT Space is an NFT Discovery Engine and Community Platform.
            </div>
            <div class="index-sections--about--body-card-container">
                <div class="index-sections--about--body-card">
                    <div class="index-sections--about--body-card-contents-container">
                        <img 
                            src="{{ url_for('static', filename='/png/index__about__wallet.png') }}"
                            alt="nft"
                        >
                        <span class="index-sections--about--body-card-title">
                            Connect Wallet
                        </span>
                        <span class="index-sections--about--body-card-content">
                            Connect your MyAlgo wallet and log in.
                        </span>
                    </div>
                </div>
                <div class="index-sections--about--body-card">
                    <div class="index-sections--about--body-card-contents-container">
                        <img 
                            src="{{ url_for('static', filename='/png/index__about__creator.png') }}"
                            alt="nft"
                        >
                        <span class="index-sections--about--body-card-title">
                            Follow Creators
                        </span>
                        <span class="index-sections--about--body-card-content">
                            Follow your favourite creators and smash the like button on their content.
                        </span>
                    </div>
                </div>
                <div class="index-sections--about--body-card">
                    <div class="index-sections--about--body-card-contents-container">
                        <img 
                            src="{{ url_for('static', filename='/png/index__about__collections.png') }}"
                            alt="nft"
                        >
                        <span class="index-sections--about--body-card-title">
                            Create Collections
                        </span>
                        <span class="index-sections--about--body-card-content">
                            Showcase your own NFTs in fully customized collections
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>