<div class="artist-preview-carousel-container">
	<div class="slider trending-carousel">
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
                {% include 'carousel/trending/item.html' %}
	</div>
</div>