<div class="footer--container">
    <span class="footer--logo">NFT Space</span>
    <div class="footer--links">
        <div class="link--container">
            <img 
                src="{{ url_for('static', filename='/png/links/links__twitter_logo.png') }}"
                alt="nft"
            > 
            <img 
                src="{{ url_for('static', filename='/png/links/links__discord_logo.png') }}"
                alt="nft"
            >     
            <img 
                src="{{ url_for('static', filename='/png/links/links__telegram_logo.png') }}"
                alt="nft"
            >     
            <img 
                src="{{ url_for('static', filename='/png/links/links__reddit_logo.png') }}"
                alt="nft"
            >         
        </div>
    </div>
</div>