<div class="sharing--main-container">
    <img 
        src="{{ url_for('static', filename='/png/sharing/sharing__twitter.png') }}"
        alt="sharing twitter"
    > 
    <img 
        src="{{ url_for('static', filename='/png/sharing/sharing__discord.png') }}"
        alt="sharing discord "
    >     
    <img 
        src="{{ url_for('static', filename='/png/sharing/sharing__instagram.png') }}"
        alt="sharing instagram"
    >     
    <img 
        src="{{ url_for('static', filename='/png/sharing/sharing__links.png') }}"
        alt="sharing links"
    >         
</div>
